<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <table>
    <tr>
      <th>Tradable</th>
      <th>Craftable</th>
      <th>Origin</th>
      <th>Quality</th>
      <th>Level</th>
      <%= "<th>Image</th>" if images %>
      <th>Name</th>
    </tr>
  <% olddefindex = nil -%>
  <% items.sort_by { | item | item.raw["defindex"]}.each do | item | -%>
    <tr>
      <td><%= item.tradable? ? "" : "No" %></td>
      <td><%= item.craftable? ? "" : "No" %></td>
      <td><%= item.origin %></td>
      <td><%= item.quality %></td>
      <td><%= item.level %></td>
      <%
        # Rowspan name and image
        if item.raw["defindex"] != olddefindex
        defindexcount = items.select { | countitem | countitem.raw["defindex"] == item.raw["defindex"] }.count
        rowspan = defindexcount > 1 ? "rowspan=\"#{defindexcount}\"" : ""
      %>
        <%= "<td #{rowspan}><img src=\"#{item.image_url}\"></img></td>" if images %>
        <td <%= rowspan %>><%= item.name %></td>
      <% end -%>
    </tr>
    <% olddefindex = item.raw["defindex"] -%>
  <% end -%>
  </table>
</body>
</html>
