<html>
<head>
  <title><%= title %></title>
  <style>
    table, th, td {
     border: 1px solid black;
   }
   .origin-0 { background-color: #33FF33; }
   .quality-0 { background-color: #B2B2B2; }
   .quality-1 { background-color: #4D7455; }
   .quality-3 { background-color: #476291; }
   .quality-6 { background-color: #FFD700; }
   .quality-11 { background-color: #CF6A32; }
   .quality-13 { background-color: #38F3AB; }
   .quality-14 { background-color: #AA0000; }
  </style>
</head>
<body>
  <h1><%= title %></h1>
  <table>
    <tr>
      <th>Tradable</th>
      <th>Craftable</th>
      <th>Origin</th>
      <th>Quality</th>
      <th>Level</th>
      <%= "<th>Image</th>" if images %>
      <th>Name</th>
    </tr>
  <% olddefindex = nil -%>
  <% items.sort_by { | item | item.raw["defindex"]}.each do | item | -%>
    <tr>
      <td><%= item.tradable? ? "" : "No" %></td>
      <td><%= item.craftable? ? "" : "No" %></td>
      <td class="origin-<%= item.raw["origin"] %>"><%= item.origin %></td>
      <td class="quality-<%= item.raw["quality"] %>"><%= item.quality %></td>
      <td><%= item.level %></td>
      <%
        # Rowspan name and image
        if item.raw["defindex"] != olddefindex
        defindexcount = items.select { | countitem | countitem.raw["defindex"] == item.raw["defindex"] }.count
        rowspan = defindexcount > 1 ? "rowspan=\"#{defindexcount}\"" : ""
      %>
        <%= "<td #{rowspan}><img src=\"#{item.image_url}\" alt=\"#{item.name}\"></img></td>" if images %>
        <td <%= rowspan %>><%= item.name %></td>
      <% end -%>
    </tr>
    <% olddefindex = item.raw["defindex"] -%>
  <% end -%>
  </table>
</body>
</html>
