<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <table>
    <tr>
      <th>Tradable</th>
      <th>Craftable</th>
      <th>Quality</th>
      <th>Level</th>
      <%= "<th>Image</th>" if images %>
      <th>Name</th>
      <th>Origin</th>
    </tr>
  <% oldefindex = nil -%>
  <% items.sort_by { | item | item.raw["defindex"]}.each do | item | -%>
    <tr>
      <td><%= item.tradable? ? "" : "No" %></td>
      <td><%= item.craftable? ? "" : "No" %></td>
      <td><%= item.quality %></td>
      <td><%= item.level %></td>
      <%= "<td><img src=\"#{item.image_url}\"></img></td>" if images %>
      <td><%= item.name %></td>
      <td><%= item.origin %></td>
    </tr>
    <% oldefindex = item.raw["defindex"] -%>
  <% end -%>
  </table>
</body>
</html>
