<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <table>
    <tr>
      <th>Tradable</th>
      <th>Craftable</th>
      <th>Quality</th>
      <th>Level</th>
      <th>Name</th>
      <th>Origin</th>
    </tr>
  <% items.each do | item | %>
    <tr>
      <td><%= item.tradable? ? "" : "No" %></td>
      <td><%= item.craftable? ? "" : "No" %></td>
      <td><%= item.quality %></td>
      <td><%= item.level %></td>
      <td><%= item.name %></td>
      <td><%= item.origin %></td>
    </tr>
  <% end %>
  </table>
</body>
</html>
